body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #949393;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/ldn.jpg'); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px); /* Adjust the value (5px in this example) to control the blur intensity */
    z-index: -1; /* Place the pseudo-element below the content of the body */
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8); /* Glass effect with transparency */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Faded shadow */
    margin: 1%;
}

#left-panel {
    flex: 2;
    padding: 20px;
    border-radius: 20px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
    min-height: 70vh;

    /*The below are used to keep the left panel size, however we might deactivate it later
    max-height: 80vh;    
    overflow: scroll;*/
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.top-bar h1 {
    background-color: #FFFF29; /* Blue background color */
    border-radius: 20px 0 0 20px; /* Rounded left side corners */
    padding: 10px; /* Padding for the h3 element */
    color: black; /* Text color */
    margin-right: -41px; /* Reset margin */
    margin-left: 10px;
}
.logo img {
    max-width: 100px; /* Adjust the logo size as needed */
}

.content-container {
    flex: 1;
    padding: 20px;
    
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.item img {
    max-width: 100px; /* Adjust image size as needed */
    margin-right: 20px;
}

.item-info {
    flex: 1;
}

.item-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.attributes {
    list-style-type: none;
    padding: 0;
}

.attributes li {
    margin-bottom: 5px;
}

#right-panel {
    flex: 0.65;
    padding: 2px;
    border-radius: 20px;
    margin: 1%;
    margin-right: 5%;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* Adjust the shadow as needed */
    backdrop-filter: blur(15px);
    width: 30%; /* Reduce the width to 30% */
    min-height: 78vh;
    max-height: 108vh;
    transform: perspective(500px) rotateY(-8deg);
    display: flex; /* Make the panel a flex container */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative; /* Add relative positioning */
}

#right-panel iframe {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute; /* Position the iframe absolutely within the panel */
    top: 0;
    left: 0;
    padding: 1px;
}

.navbar {
    padding: 5px;
    border-radius: 20px;
    margin-left: 5%;
    max-width: 55px;
    min-width: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    
    backdrop-filter: blur(15px);
  
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}
.navbar li{
    position: relative; /* Ensure the li is a positioned container */
    padding: 1px;
    border-radius: 50%;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar li img {
    text-decoration: none; /* Remove underline from anchor elements */
    transition: box-shadow 0.3s, background-color 0.3s; /* Add transition effect */
    border-radius: 50%;
    width: 100%;
    margin: 1%;
    padding: 1px;
}

.navbar li img:hover {
    box-shadow: 0 0 10px #FFFF29, 0 0 20px #FFFF29, 0 0 30px #FFFF29; /* Neon shadow on hover */
    background-color: #FFFF29; /* Change background color when clicked */
}

.navbar li img:active {
    background-color: #FFFF29; /* Change background color when clicked */
    box-shadow: none; /* Remove shadow when clicked */
    padding: 1px;
}
.navbar .indicator {
    position: absolute;
    width: 10px; /* Adjust the width of the indicator */
    height: 40px; /* Adjust the height of the indicator */
    background-color: #FFFF29; /* Color of the indicator */
    transform: translateX(-50%) translateY(-50%); /* Center the indicator */
    transition: transform 0.3s ease-in-out; /* Add a transition for smooth movement */
    opacity: 0; /* Initially, make it invisible */
    top:49%;
}

.navbar li.active .indicator {
    opacity: 1; /* Show the indicator when the li is active */
    transform: translateX(-50%) translateY(-50%) scale(1.2); /* Adjust the size and position on hover */
}

.message-container {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* Adjust z-index as needed */
}

.message {
    font-size: 28px;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .navbar {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        border: none;
        background: none;
        box-shadow: none;
        visibility: hidden;
    }
    .navbar li {
        margin-bottom: 0;
    }
    #left-panel, #right-panel {
        flex: 100%;
        border-radius: 0;
        width: 100%;
        transform: none;
        visibility: hidden;
    }
    .message-container {
        display: block;
        transform: none;
        width: 300px;
    }
    .message {
        font-size: 16px;
        text-align: center;
    }
}

.card {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #96a20f 0%, #eeff00 100%);
    border-radius: 20px;
    transition: all .3s;
    margin:1%;
   }
   
   .card2 {
    width: 190px;
    height: 254px;
    background-color: #a7a4a4;
    border-radius:5px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(189, 235, 8, 0.792);
   }